.corpopag2{
    
  
    width: 100%;
    
}

.rowcorpo2{
    padding: 3%;
    background-color: rgba(190, 222, 218, 1);
}
.textopag2{
    font-size: 20px;
    z-index: 3;
    margin-left: 75px;
    line-height: 15px;
    padding-top: 25px;
    


    
}
.imagemcorpopag2{
    border-bottom-right-radius: 185px;
    border-top-right-radius: 110px;
    border-top-left-radius: 20px;
    box-shadow: 40px 0px 10px 0px rgba(128, 128, 133, 0.3);
    width: 243px;
    height: 300px !important;
    margin-right: 600px;
    
    
   
}
#letra{
    font-size: 26px;
    margin-left: 40px;
    margin-top: 25px;
    font-weight: bolder;
    
}
#info{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    border: solid black;
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
  
    
}
.colcorpo2{
   border-radius: 20px;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
    width: 574px;
    height: 400px;     
}
.colcorpo4{
  border-radius: 20px;
   background-color: rgba(217, 217, 217, 1);
   box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
   width: 574px;
   height: 400px; 
   margin-top: -120px !important; 
}
.colcorpo3{
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
    width: 574px;
    height: 400px;
    margin-top: 250px !important;

}
.colcorpo5{
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 1);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
  width: 574px;
  height: 400px;
  margin-top: 120px !important;
}

