.airplane {
    position: fixed;
    top: 0; /* Start at the top of the page */
    right: 10px; /* Fixed horizontal position on the right */
    font-size: 2rem; /* For emoji or icon */
    color: #180F4A;; /* Cool blue color */
    z-index: 1000;
    transform: rotate(180deg); /* Rotate to point downward initially */
    transition: top 0.1s ease, transform 0.8s ease; /* Smooth movement and rotation */
    cursor: pointer; /* Indicate that the airplane is clickable */
  }
  
  .airplane:hover {
    color: #0056b3; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge the airplane on hover */
  }