.blog{
    background-color: rgb(237, 237, 234);;
    height: 350px;   
}
.plane{
    height: 60px;
    margin-top: 40px;
}
#dicas{
    border-bottom: solid rgb(20, 31, 180);
    margin-bottom: 20px;
    padding-bottom: 10px; 
    font-family: "Dancing Script", sans-serif; 
    color: #180F4A;
    font-size: 55px;
}
#blog2{
    text-decoration: none;
    color: #180F4A;
    font-size: 20px;
    border: solid black;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    margin-top: 15px;
    transition: 0.3s;
}
#blog2:hover{
    background-color:#180F4A;
    color: white;
}
#blog2:active{
    transform: translateY(3px);
}
.rodape{
    background-color: #f2fbfb;
   
}
#logo2{
    width: 220px;
    height: 120px;
}
.copy{
    color: #180F4A;
    font-family: "Jura", sans-serif;
    font-size: 15px;
}
.icone{
    text-decoration: none;
    font-size: 30px;
    padding-left: 1%;
    color: #180F4A;
    
}