.blog{
    background-color: rgb(237, 237, 234);;
    height: 350px;   
}
.plane{
    height: 60px;
    margin-top: 40px;
}
#dicas{
    border-bottom: solid rgb(20, 31, 180);
    margin-bottom: 20px;
    padding-bottom: 10px; 
    font-family: "Rampart One", sans-serif; 
}
#blog2{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: solid black;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    margin-top: 15px;
    

}
.rodape{
    background-color: #f2fbfb;
   
}
#logo2{
    width: 100px;
}
.copy{
    color: #180F4A;
    font-family: "Jura", sans-serif;
    font-size: 15px;
}
.icone{
    text-decoration: none;
    font-size: 37px;
    padding-left: 1%;
    color: #180F4A;
}