
.nav1{
    background-color: rgba(49, 54, 54, 0.062);
    z-index: 50;
    position: fixed;
    
  }
  .navbar-nav .nav-link {
      font-size: 32px;
      color:#180F4A;
      
      
    }
    #destino{
        font-size: 30px;
        margin-bottom: 10px;
        color:#180F4A;
        
    }
  .row5{
      margin-top: 120px;
      margin-left: 300px !important;
      margin-bottom: 3px;
      line-height: 100%;
      letter-spacing: 0%;
      z-index: 3;
      
  }
  #logo{
    width: 150px;
    position: absolute;
    display: flex;
    left: 45%;
    top: 2%;
    z-index: 70;
  }
  #home{
    height: 30px;
    margin-bottom: px;
  }