.porto{
    background-image: url(../imagens/porto_batcheditor_fotor.jpg);
    height: 420px;
    background-size: cover;
    background-position: center;    
}
#porto2{
    text-decoration: none;
    font-size: 20px;
    border: solid white;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    color: white;
    margin-top: 210px;
    margin-left: 940px;
    font-family: "Arial";
    transition: 0.3s;
}
#porto2:hover{
    background-color:#180F4A;
    color: white;
    
}
#porto2:active{
    transform: translateY(3px);
}
.textoporto{
    margin-top: 25px !important;
    margin-left: 30px;
    color: white;
    font-family: "Dancing Script", sans-serif;
    font-size: 60px;
    
}
@media screen and (max-width: 768px) {
  .porto {
    height: 320px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    
    
  }

  .textoporto {
    font-size: 38px;
    margin: 0 10px 20px 10px;
  }

  #porto2 {
    font-size: 16px;
    padding: 2px 2px 2px 0px;
    margin: 20px;
    border: 2px solid white;
    text-align: center;
  }
}

@media screen and (max-width: 548px) {
  .porto {
    height: 280px;
  }

  .textoporto {
    font-size: 30px;
  }

  #porto2 {
    font-size: 14px;
    padding: 0px 0px;
    
  }
}
