.airplane {
  position: fixed;
  top: 0; /* Start at the top of the page */
  right: 10px; /* Fixed horizontal position on the right */
  font-size: 2rem; /* For emoji or icon */
  color: #180f4a; /* Cool blue color */
  z-index: 1000;
  transform: rotate(180deg); /* Rotate to point downward initially */
  transition: top 0.1s ease, transform 0.8s ease; /* Smooth movement and rotation */
  cursor: pointer; /* Indicate that the airplane is clickable */
}

.airplane:hover {
  color: #0056b3; /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge the airplane on hover */
}

.title-background {
  background-image: url(Imagens/fundo_blog.png);
  height: 300px;
}

.nav1 {
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 50;
  position: sticky;
  top: 0;
}

.navbar-nav .nav-link {
  font-size: 35px;
  color: #180f4a;
  font-family: "Rampart One", sans-serif;
}

.row5 {
  margin-top: 3px;
  margin-left: 50px;
  margin-bottom: 3px;
  line-height: 100%;
  letter-spacing: 0%;
  z-index: 3;
}

#logo {
  width: 90px;
  position: absolute;
  display: flex;
  left: 1%;
  top: 2%;
  z-index: 70;
}

.title-content {
  background-image: url("Imagens/fundo_blog.png");
  text-align: center;
  font-family: "Dancing-Script";
  font-size: 35px;
}

.sub-texto {
  text-align: center;
  font-size: 35px;
  font-family: "Dancing-Script";
}

.blog-title {
  font-weight: bold;
  font-size: 45px;
  font-family: "Dancing-Script";
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

.blog {
  position: relative;
  width: 22em;
  height: 30em;
  background: no-repeat;
  background-size: 22em 30em;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  overflow: hidden;
}
.blog * {
  position: relative;
  z-index: 2;
}
.blog:hover .color-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.blog:hover .info {
  bottom: -3em;
  opacity: 1;
}
.blog,
.color-overlay {
  border-radius: 0.7em;
}
.color-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: 0.7s background;
  background: rgba(74, 100, 114, 0.3);
  z-index: 1;
}

.title-box {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.title-box hr {
  margin-top: -0.4em;
  margin-bottom: 1em;
  width: 5em;
  height: 0.25em;
  box-sizing: content-box;
  border: none;
  background: white;
}
h3 {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.4em;

  text-align: center;
}
.intro {
  width: 170px;
  margin: 0 auto;
  color: #fff;
  font-family: "Droid Serif", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 18px;
}

.info {
  font-family: "Droid Serif", serif;
  font-size: 1.2em;
  color: #ddd;
  line-height: 1.1em;
  padding: 0 2em;

  position: relative;
  bottom: -4em;
  opacity: 0;
  background: transparent;
  transition: opacity 0.3s, bottom 0.3s;
  text-align: center;
}

.footer {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  border-radius: 0 0 0.7em 0.7em;
}

.footer > .icon-holder {
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
  display: inline-block;
  font-size: 1.2em;
  padding: 0 2em;
}

.icon-holder i {
  color: #d0bc57;
}

.icon-holder span,
h3 {
  color: #accff0;
}

space {
  display: inline-block;
  width: 0.6em;
  height: 1em;
}

.blog-bangkok {
  background-image: url("Imagens/bangkok_2.jpg");
}

.blog-istambul {
  background-image: url("Imagens/istambul.jpg");
}

.blog-londres {
  background-image: url("Imagens/londres.jpg");
}

.blog-hongkong {
  background-image: url("Imagens/hong_kong.jpg");
}

.madeira-title {
  text-align: center;
  font-size: 40px;
  font-family: "Jura";
  padding: 50px;
}

.airplane {
  position: fixed;
  top: 0; /* Start at the top of the page */
  right: 10px; /* Fixed horizontal position on the right */
  font-size: 2rem; /* For emoji or icon */
  color: #180f4a; /* Cool blue color */
  z-index: 1000;
  transform: rotate(180deg); /* Rotate to point downward initially */
  transition: top 0.1s ease, transform 0.8s ease; /* Smooth movement and rotation */
  cursor: pointer; /* Indicate that the airplane is clickable */
}

.airplane:hover {
  color: #0056b3; /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge the airplane on hover */
}

.title-background {
  background-image: url(Imagens/fundo_blog.png);
  height: 300px;
}

.nav1 {
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 50;
  position: sticky;
  top: 0;
}

.navbar-nav .nav-link {
  font-size: 35px;
  color: #180f4a;
  font-family: "Rampart One", sans-serif;
}

.row5 {
  margin-top: 3px;
  margin-left: 50px;
  margin-bottom: 3px;
  line-height: 100%;
  letter-spacing: 0%;
  z-index: 3;
}

#logo {
  width: 90px;
  position: absolute;
  display: flex;
  left: 1%;
  top: 2%;
  z-index: 70;
}

.sub-texto {
  text-align: center;
  font-size: 35px;
  font-family: "Jura";
}

.blog-title {
  font-weight: bold;
  font-size: 45px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

.blog {
  position: relative;
  width: 22em;
  height: 30em;
  background: no-repeat;
  background-size: 22em 30em;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  overflow: hidden;
}
.blog * {
  position: relative;
  z-index: 2;
}
.blog:hover .color-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.blog:hover .info {
  bottom: -3em;
  opacity: 1;
}
.blog,
.color-overlay {
  border-radius: 0.7em;
}
.color-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: 0.7s background;
  background: rgba(74, 100, 114, 0.3);
  z-index: 1;
}

.title-box {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
.title-box hr {
  margin-top: -0.4em;
  margin-bottom: 1em;
  width: 5em;
  height: 0.25em;
  box-sizing: content-box;
  border: none;
  background: white;
}
h3 {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.4em;

  text-align: center;
}
.intro {
  width: 170px;
  margin: 0 auto;
  color: #fff;
  font-family: "Droid Serif", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 18px;
}

.info {
  font-family: "Droid Serif", serif;
  font-size: 1.2em;
  color: #ddd;
  line-height: 1.1em;
  padding: 0 2em;

  position: relative;
  bottom: -4em;
  opacity: 0;
  background: transparent;
  transition: opacity 0.3s, bottom 0.3s;
  text-align: center;
}

.footer {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  border-radius: 0 0 0.7em 0.7em;
}

.footer > .icon-holder {
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
  display: inline-block;
  font-size: 1.2em;
  padding: 0 2em;
}

.icon-holder i {
  color: #d0bc57;
}

.icon-holder span,
h3 {
  color: #accff0;
}

space {
  display: inline-block;
  width: 0.6em;
  height: 1em;
}

.blog-bangkok {
  background-image: url("Imagens/bangkok_2.jpg");
}

.blog-istambul {
  background-image: url("Imagens/istambul.jpg");
}

.blog-londres {
  background-image: url("Imagens/londres.jpg");
}

.blog-hongkong {
  background-image: url("Imagens/hong_kong.jpg");
}

.container-madeira {
  background-color: #f2fbfb;
  padding-bottom: 20px;
  width: 100%;
}

.madeira-title {
  text-align: center;
  font-size: 40px;
  font-family: "Jura";
}

.item-active {
  margin-bottom: 20px;
}
 
.item-large {
  height: 400px;
}
 
.item-medium {
  height: 300px;
}

.wrapper {
  display: flex; /* Flexbox para alinhamento horizontal */
  justify-content: space-between; /* Espaçamento entre as colunas */
  padding: 20px;
}

.reviews {
font-family: 'Dancing Script';
text-align: center;
margin: 45px;
font-size: 40px;
}

.card{
  border: 2px solid #faf5f5;
 margin-bottom: 10px;
  height: 250px;
}

.user-content p{
  margin-top:5px;
  font-size:12px;
}

.rounded-circle {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

.ratings i{
  color:#FFD700;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 16px;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  z-index: 1;
}

/* Layout for images with different sizes on large screens */
.item1 { grid-column: span 2; grid-row: span 2; }
.item2 { grid-column: span 2; grid-row: span 1; }
.item3 { grid-column: span 1; grid-row: span 1; }
.item4 { grid-column: span 1; grid-row: span 1; }

/* On small screens, make all images the same size */
@media (max-width: 576px) {
  .gallery-grid {
    grid-template-columns: 1fr; /* Stack the images */
    grid-auto-rows: 200px; /* Set the height for all images */
  }

  .gallery-grid img {
    width: 100%; /* Make images stretch to the width of the container */
    height: 200px; /* Set the height for all images */
  }

  .item1, .item2, .item3, .item4 {
    grid-column: span 1; /* Make each image take full width */
    grid-row: span 1; /* Ensure each image has the same height */
  }
}

.rodape{
  background-color: #f2fbfb;
 
}
#logo2{
  width: 100px;
}
.copy{
  color: #180F4A;
  font-family: "Jura", sans-serif;
  font-size: 15px;
}
.icone{
  text-decoration: none;
  font-size: 37px;
  padding-left: 1%;
  color: #180F4A;
}

/* Custom styles */
.phone-card {
  width: 210px;
  height: 400px;
  background: black;
  border-radius: 35px;
  border: 2px solid rgb(40, 40, 40);
  padding: 7px;
  position: relative;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.486);
}

.phone-card-inner {
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.carousel {
  height: 100%;
}

/* Carousel styling */
.carousel-inner {
  height: 100%;
  /* Ensure inner carousel fills the phone */
}

.carousel-item img {
  object-fit: cover;
  /* Ensure images fill the screen */
  width: 100%;
  height: 100%;
}

.phone-top {
  position: absolute;
  top: 0px;
  right: 50%;
  transform: translate(50%, 0%);
  width: 35%;
  height: 18px;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.phone-speaker {
  position: absolute;
  top: 2px;
  right: 50%;
  transform: translate(50%, 0%);
  width: 40%;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(20, 20, 20);
}

.phone-camera {
  position: absolute;
  top: 6px;
  right: 84%;
  transform: translate(50%, 0%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.048);
}

.phone-int {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: rgba(0, 0, 255, 0.212);
}

.carousel-item {
  height: 100%;
}

.mobile {
  margin-top: 20px;
}

.btn1, .btn2, .btn3, .btn4 {
  position: absolute;
  width: 2px;
}

.btn1, .btn2, .btn3 {
  height: 45px;
  top: 30%;
  right: -4px;
  background-image: linear-gradient(to right, #111111, #222222, #333333, #464646, #595959);
}

.btn2, .btn3 {
  transform: scale(-1);
  left: -4px;
}

.btn2, .btn3 {
  transform: scale(-1);
  height: 30px;
}

.btn2 {
  top: 26%
}

.btn3 {
  top: 36%
}